body {
  font-family: monospace;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  padding: 20px;
}
h2 {
  font-size: 1.5em;
  padding: 20px;
}
h3 {
  font-size: 2em;
  padding: 20px;
}

ol {
  margin: 20px;
}

#highscores-firstpage {
  display: inline;
  position: absolute;
  top: 0px;
  border-radius: 2px;
  padding: 3px;
  left: 0px;
}

#time-left {
  position: absolute;
  top: 20px;
  right: 20px;
}

#highscores-firstpage:hover {
  color: blue;
  cursor: pointer;
}

#highscore-page {
  position: relative;
  top: 50%;
  margin: 20px;
  text-align: center;
}

#highscore-page h2 {
  font-size: 2em;
}

#first-page {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 50px;
}

#buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 20%;
  margin: 20px;
  font-size: 1.5em;
}

#enter-initials {
  display: flex;
  text-align: center;
  margin: 20px;
}

#begin-quiz-button {
  left: 46%;
}

.other-button {
  background-color: lawngreen;
  padding: 5px;
  border-radius: 3px;
  display: block;
  position: relative;
  margin: 5px;
  border: solid white 0px;
  width: 8%;
  left: 46%;
}

.other-button:hover {
  background-color: rgb(109, 202, 16);
}

.answer {
  background-color: rgb(156, 18, 156);
  border-radius: 3px;
  border: white 0px;
  font-size: 1.5em;
  display: inline;
  width: 20%;
  position: relative;
  left: 40%;
  margin: 5px;
}

.answer:hover {
  background-color: rgb(211, 27, 211);
}
